<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<br />
<% Pokemon.where(trainer_id: @id).each do |pkmn| %>
	Pokemon: <%= pkmn.name %>
	<br />
	Level: <%= pkmn.level %>
	<br />
	Health: <%= pkmn.health %>
	<br />
	<%= button_to "Damage!", damage_path(id: pkmn, trainer_id: @id), :class => "button medium", :method => :patch %>
	<br />
<% end %>

<%= button_to "New Pokemon!", new_path, :class => "button medium", :method => :patch %>

<br />
