<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<br />
<% Pokemon.where(trainer_id: @id).each do |pkmn| %>
	Pokemon: <%= pkmn.name %>
	<br />
	Level: <%= pkmn.level %>
	<br />
	Health: <%= pkmn.health %>
	<br />
	<%= button_to "Damage!", damage_path(id: pkmn), :class => "button medium", :method => :get %>
	<br />
<% end %>

<% if @trainer.id == current_trainer.id %>
	<%= button_to "New Pokemon!", new_pokemon_path, :class => "button medium", :method => :get %>
<% end %>

<br />
